<form [formGroup]="formulario">

  <div class="row d-flex align-items-center justify-content-center mt-4">

    <div class="col-sm-8 col-xl-5 col-xxl-5">
      <div class="form-group">

        <label for="nome" class="form-label">Nome</label>
        <input formControlName="nome" type="text" name="nome" id="nome" class="form-control"
          placeholder="Digite seu nome">


        <label for="email" class="form-label">E-mail</label>
        <input formControlName="email" type="email" name="email" id="email" class="form-control"
          placeholder="Digite um e-mail">

        <label for="senha" class="form-label">Senha</label>
        <input formControlName="senha" type="password" name="senha" id="senha" class="form-control"
          placeholder="Digite uma senha">


        <div class="row">
          <div class="col-sm-8">
            <button (click)="cadastrar()" [disabled]="!formularioIsValid()"
              class="btn btn-primary mt-4">Cadastrar</button>
          </div>

          <div class="col-sm-4 d-flex justify-content-end">
            <button class="btn btn-danger mt-4">Cancelar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>